* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Bebas-Regular";
  background-color: #232020;
  color: #fff;
}

.main-wrapper {
  width: 75%;
  max-width: 1400px;
  margin: 0 auto;
}

.lp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 200px);
}

/* .image-container {
  position: relative;
  width: 1000px;
}

.image-container .image {
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.lp-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(46, 221, 206);
  font-size: 10rem;
  text-align: center;
}
