.post-container {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.post {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

.trailer-container {
  margin-right: 5rem;
}

.movie-details {
  /* box-shadow: 5px 5px 100px rgb(231, 218, 100); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-container {
  display: flex;
  flex-direction: row;
}

.movieTitle {
  font-size: 4.5rem;
  color: rgb(182, 54, 92);
}
.list {
  font-size: 1.8rem;
}
