.post-container {
  margin-top: 10rem;
  margin-bottom: 10rem;
 padding-top: 15rem;
 padding-bottom: 10rem;
 padding-left: 10rem;
}

.post {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

.trailer-container {
  margin-right: 5rem;
}

.movie-details {
  /* box-shadow: 5px 5px 100px rgb(231, 218, 100); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-container {
  display: flex;
  flex-direction: row;
}

.movieTitle {

  font-size: 4.5rem;
  color: rgb(182, 54, 92);
}
.list {
  font-size: 1.8rem;

}

.genre {
  font-size: 2.5rem;
}

.rating {
  font-size: 2.5rem;
}

.dir{
  font-size: 2.5rem;
}

.act{
  font-size: 2.5rem;
}

.img {
  text-align: center;
  max-height: 80%;
  width: 150%;
  /* object-fit: cover; */
}

.img2 {
  background-position: center;
background-size: cover;
background-image: url(./movie_pics_small_size/lonely.jpg);
opacity: 1;

}

